.tabs {
  border-bottom: 2px solid rgb(204, 204, 204);
}

.Tab-items li:hover {
  border-bottom: 2px solid rgb(8, 65, 250);
}

.Tab-items {
  color: rgb(88, 112, 135);
  font-size: 12px;
}
.Tab-titles {
  color: rgb(88, 112, 135);
  font-size: 16px;
  cursor: pointer;
}
.Tab-items li {
  cursor: pointer;
  color: rgb(88, 112, 135);
}

.Tab-items li.active {
  color: rgb(88, 112, 135);
}

/* .TabsActive {
  color: #fff;
  background-color: red;
  padding: 0.5em;
} */
